.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    &__feed {
        display: flex;
        align-items: center;
        width: 120px;
        height: 50px;
    }

    &__search {
        display: flex;
        align-items: center;
        flex: .7;
        height: 80px;

        mat-form-field {
            width: 100%;
            margin-top: 25px;
        }
    }

    &__info {
        display: flex;
        align-items: center;

        div {
            margin: 0 10px;
        }
    }
}

.avatar-button {
    width: 75px;
    height: 75px;
    border-radius: 50%;

    img {
        width: 100%;
        height: 100%;
    }
}