<div class="container">

    <header class="header" *ngIf="(profile$ | async) as profile">
        <app-header-item
            [profile]="profile"
        ></app-header-item>
    </header>

    <main class="main">
        <nav class="main__navigation">
            <mat-list role="list">
                <mat-list-item routerLinkActive="active" role="listitem">
                   <a routerLink="/profile">My profile</a>
                </mat-list-item>
                <mat-list-item role="listitem">My friends</mat-list-item>
                <mat-list-item role="listitem">My posts</mat-list-item>
                <mat-list-item routerLinkActive="active" role="listitem">
                    <a routerLink="/feed">Feed</a>
                </mat-list-item>
            </mat-list>
        </nav>
        <div class="main__content">
            <router-outlet></router-outlet>
        </div>
        <nav class="main__controllers">
            <button mat-fab color="primary" aria-label="Example icon button with a heart icon" (click)="onOpenNewPostCreator()">
                <mat-icon>add_box</mat-icon>
            </button>
            <p>Create new post</p>
        </nav>
    </main>

</div>
